MONGODB_URI=mongodb+srv://suryarahulroy321_db_user:Surya123@cluster0.gjgqcsj.mongodb.net/mealhub?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mealhub_super_secret_jwt_key_change_this_in_production

PORT=5000

CLIENT_URL=http://localhost:5173